.container {
  height: 11in;
  width: 8.5in;
  padding: 0.25in;

  --light-1: #666;
  --light-2: #888;
  --highlight: #3b78d8;
}

.container a {
  text-decoration: underline;
}

.main {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  line-height: 1;
}

.title {
  font-size: 42px;
}

.subtitle {
  color: var(--light-1);
  margin-bottom: 1rem;
}

.email {
  text-align: right;
}

.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.links {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.contact {
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
}

.pdf {
  width: 90px;
  font-size: 10px;
  line-height: 1.1;
  color: var(--highlight);
}

.pdf a {
  text-decoration: underline;
}

.icon {
  width: 24px;
  height: 24px;
}

.mission {
  color: var(--light-1);
  margin-bottom: 1rem;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.experienceTitle {
  margin-bottom: 1rem;
}

.experienceList {
  list-style-type: none;
  padding: 0;
}

.experienceList > *:not(:last-child) {
  margin-bottom: 1rem;
}

.workplaceTitle {
  margin-bottom: 0.5rem;
}

.formalTitle {
  display: flex;
  gap: 1rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.list {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.emoji {
  display: inline-block;
  /* transform: translateY(-2px); */
}

.grid {
  display: grid;
  grid-template-columns: 5in 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}

.openSource {
  display: flex;
  justify-content: space-between;
}

.openSourceList > *:not(:last-child) {
  margin-bottom: 0.25rem;
}

.publicationList > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

.code {
  background-color: #eee;
  border-radius: 2px;
  padding: 2px 4px;
  line-height: 1;
  font-size: 14px;
}

.noUnderline {
  text-decoration: none !important;
}

.star {
  width: 16px;
  height: 16px;
  transform: translateY(2px);
}
